* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

#canvas {
	background-color: #cccccc;
	height: 100%;
	width: 100%;
}

#canvas-container {
	border: 1px solid black;
	display: block;
	height: 50vh;
	margin: auto;
	width: 50vh;
}

#TemplateView {
	height: 100%;
	padding: 1%;
}

#HomeView {
	height: 100%;
}

.fill {
	height: 100%;
}

#header {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
}

#header .header-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#header .header-content .header-content-center {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: center;
}

#header .header-content .header-content-left {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: left;
}

#header .header-content .header-content-right {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: right;
}

#content {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#footer {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: center;
}

#template {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
}

