* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow-y: hidden;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

main {
	height: 100%;
}

#game-canvas {
	background-color: #cccccc;
	display: block;
	/*height: 100%;
	width: 100%;*/
}

#game-container {
	background-color: #cccccc;
	border: 1px solid black;
	height: 80vmin;
	margin: auto;
	width: 80vmin;
}

#header {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
}

#header header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#header header .header-center {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: center;
}

#header header .header-left {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: left;
}

#header header .header-right {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: right;
}

#main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#footer {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: center;
}

#template {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: 2%;
	height: 100%;
}

